# ワークフロー自動停止防止用
# 一定周期毎に空コミットをし続ける
name: Extend CI

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  exec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Git setting
        run: sh .github/scripts/git_settings.sh

      - name: Commit and push
        run: |
          git commit --allow-empty -m "chore: prevent automatic workflow stopping" -m "see: https://docs.github.com/en/actions/managing-workflow-runs/disabling-and-enabling-a-workflow"
          git push
